img {
  height: 100%;
}

.Fetch-Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 500px;
}

.Image {
  height: 300px;
  opacity: 1;
  transition: visibility 0.3s linear,opacity 0.3s linear;
}

.Hidden {
  opacity: 0;
}
