.Example {
  display: flex;
  justify-content: center;
}

.Clicks {
  min-width: 200px;
  justify-content: center;
  display: flex;
  align-items: center;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  min-width: 50px;
  border-radius: 4px;
}
