.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  max-width: 500px;
}

.Button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.Example-Title {
  display: flex;
  justify-content: center;
  flex-grow:0;
}
